body {
font-family: verdana,arial,sans-serif;
background-image:url('/static/borde2.jpg');
}

h1 {
color: #008000;
font-size: 70px;
text-align: center;
background-color: #ffffff;
}

#caja {
margin-top: 50px;
margin-bottom: 50px;
margin-left: 50px;
margin-right: 50px;
padding-top: 20px;
padding-bottom: 70px;
background-color: #ffffff;
text-align: center;
}

#enlace {
color: skyblue;
text-decoration: none;
font-weight: bold;
}

#boton a {
margin: 1em 0;
float: center;
clear: left;
color: #000000;
font-size: 30px;
text-align: center;
word-spacing: 10px;
}

a.boton {
text-decoration: none;
text-align: center;
background: #FFFAFA;
color: #006400;
font-weight: bold;
border: 1px outset #FEFEDC;
padding: 5px 20px 5px 20px;
}

a.boton:hover {
background: #CCB;
}

a.boton:active {
border: 1px inset #000;
}

#bbva {
position: relative;
width: 270px;
height: 140px;
bottom: 15px;
}

#adelante {
position: relative;
width: 220px;
height: 100px;
bottom: 30px;
}

#quiniela {
width: 220px;
height: 100px;
}

#mundial {
width: 240px;
height: 100px;
}

#casa {
width: 40px;
height: 40px;
float: right;
margin-right: 10px;
}

.flotante {
display: scroll;
position: fixed;
bottom: 510px;
right: 65px;
}

#img_det {
width: 40px;
height: 40px;
}

#errores {
color: #000000;
font-size: 30px;
text-align: center;
background-color: #ffffff;
}

#input1 {
padding: 5px;
border: solid 1px #008000;
border-radius: 5px;
}

.cajas {
float:left;
width:40px;
height:40px;
margin:10px;
padding:5px;
border-right: #a5a7aa solid 2px;
border-bottom: #a5a7aa solid 2px;
text-align:center;
}

.tabla_clas, .tabla_jorn {
border-collapse: collapse;
margin:auto;
border: 1px solid #000;
caption-side:bottom;
text-align: center;
}

.tabla_clas {
width: 70%;
}

.tabla_jorn {
width: 40%;
}

.tabla_clas th, .tabla_jorn th {
border: 1px solid #000;
background: #008000;
color: #ffffff;
}

.tabla_clas td, .tabla_jorn td {
border: 1px solid #000;
}

.tabla_clas tr:hover, .tabla_jorn tr:hover {
background: #F0F8FF;
}

.tabla_detalle {
width: 50%;
margin:auto;
text-align: center;
}




